<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.3" targetFramework="net40" />
  <!--<package id="iTextSharp" version="5.5.3" targetFramework="net40" />-->
  <package id="PDFOne.NET" version="7.0.0" targetFramework="net40" />
  <package id="RazorPDF" version="1.0.0" targetFramework="net40" />
  <package id="Rotativa" version="1.6.1" targetFramework="net40" />
  <package id="SharpPDF" version="1.1.0" targetFramework="net40" />
</packages>